/* General */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.home {
  padding: 0;
  margin: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1.5em;
}

.flex-row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  background: no-repeat center/cover url("/headshot.jpg");
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid darkgrey;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.contact-btn {
  background-color: #ff4fc1;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.hero-text .welcome {
  font-size: 0.9rem;
  color: #888;
}

.welcome{
  font-size: 1.2rem;
}

.my-name {
  font-weight: bold;
}

.hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 20px 0;
}

.hero-text .description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.social-icons a {
  color: #000;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff4fc1;
}


.hero-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.icon-outline {
  display: flex;
  border: 4px solid black;
  width: 68px;
  height: 68px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.main-content-wrapper {
  display: flex;
}